.file-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &::after {
    content: ' ';
    width: 100px;
  }

  &__title {
    font-size: 3em;
    text-align: center;
    letter-spacing: 9px;
    border-bottom: 2px solid #0C6CEE;
    color: white;
  }

  &__logo {
    margin-left: 12px;
    & img {
      max-width: 100px;
    }
  }
}
