@use './variables' as jnv;

.list-block {
  display: block;
  padding: 24px;
  border-radius: 2px;
  width: 25%;

  &__title {
    margin: 0;
    margin-bottom: 1em;
    text-align: center;
    color: white;
    font-size: 1.3em;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    & li {
      padding: 3px 0;
    }
  }
}
