@use './variables' as jnv;

.observations {
  padding: 24px;
  margin-top: 16px;

  &__title {
    display: block;
    text-align: center;
    margin: 0;
    margin-bottom: 8px;
    color: white;
    font-size: 1.3em;
  }

  &__content {
    margin: 0 auto;
    max-width: 800px;
  }
}